.page-header {
    background-image: url("../assets/image_about-bg.png");
    background-repeat: no-repeat;
    background-size: cover;
    border: 0 none;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

.page-header_wrap {
    padding: 60px 0;
    position: relative;
    text-align: center;
}

.page-heading {
    z-index: 1;
    position: relative;
}

.page-heading h2,
.page-heading h1 {
    font-size: 40px;
    color: #ffffff;
    margin: 0 auto;
}